.nav {
  display: flex;
  gap: 30px;
  align-items: center;
  @media (max-width: 500px) {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
    height: 100%;
    a {
      &:hover {
        color: var(--color);
      }
    }
  }
  .hire-me {
    border: none;
    outline: none;
    background: var(--color);
    border: 1px solid var(--color);
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 18px;
    position: relative;
    color: #03011a;
    font-weight: 500
  }
}
