.home-section {
  margin-top: 20px;

  .container {
    .main-content {
      display: flex;
      justify-content: space-between;

      .photo {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .image-container {
          position: relative;
          width: 380px;
          height: 380px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            object-fit: contain;
            mask-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 1) 10%,
              rgba(0, 0, 0, 0) 90%
            );
            -webkit-mask-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 1) 10%,
              rgba(0, 0, 0, 0) 90%
            );
          }
        }

        .circle-box {
          position: absolute;
          width: 400px;
          height: 400px;
          top: 0;
          right: 0;
          background-color: transparent;
        }
      }

      .info {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 50%;
        .profession-title {
          font-size: 20px;
          color: #ddd;
        }
        .introduction {
          font-size: 60px;
          span {
            color: var(--color);
          }
        }
        .introduction-text {
          font-size: 15px;
          color: #ddd;
          line-height: 1.9;
        }
        .social-info {
          display: flex;
          gap: 30px;
          margin-top: 20px;
          .download {
            border: 1px solid var(--color);
            border: 1px solid var(--color);
            border-radius: 40px;
            padding: 15px 18px;
            background-color: transparent;
            a {
              color: var(--color);
              .download-icon{
                fill: var(--color);
              }
            }
            &:hover{
                background-color: var(--color);
                transition: all 0.5s;
               a{
                color: #fff;
                font-weight: 400;
                .download-icon{
                    fill:#fff;
                    font-weight: 500;
                  }
               }
            }
          }
        }
      }
    }
    .counter-box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 70px;
    }
  }
}
